.Poo{
    background: rgb(135, 253, 0);
}

.Auto{
    background: yellow;
}

.Inge{
    background: rgb(65, 124, 26);
}

.Perdida{
    background: #FF0000;
}

.Lider{
    background: #6e4fdb;
}

.Proyectos{
    background: #e7760daf;
}

.Ingles{
    background: #0de7e7af;
}

.Hora{
    background: #1e209ca4;
}

.TitulosHoras{
    background: #6b794469;
}

.Titulos{
    background: #b61a7ac7;
}

.Descanso{
    background: #438b79;
}

.SinTxt{
    background: black;
}